<link rel="stylesheet" href="../public/css/style.css">
<body class="cadastro-body">
  <section class="cadastro-section">
    <img src="../images/logo_lilian.png" alt="Logo Lilian Sweets" class="cadastro-logo">
    
    <label for="name" class="label-cadastro">Nome</label>
    <input type="text" id="name" placeholder="Nome" class="input-cadastro">

    <label for="email" class="label-cadastro">Email</label>
    <input type="email" id="email" placeholder="seuemail@gmail.com" class="input-cadastro">

    <label for="password" class="label-cadastro">Senha</label>
    <input type="password" id="password" placeholder="Senha" class="input-cadastro">

    <label for="confirm-password" class="label-cadastro">Confirme sua senha</label>
    <input type="password" id="confirm-password" placeholder="Confirme a senha" class="input-cadastro">

    <button class="cadastro-button">Cadastrar</button>
  </section>
</body>
