<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cadastro de usuário - Lilian Sweets</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body class="cadastro-body">
  <div class="cadastro-section">
    <div class="logo">
      <img src="../public/images/logo_lilian.png" alt="Logo Lilian Sweets" style="width:160px;">
    </div>
    <form class="form">
      <label for="Nome">Adicione o seu nome</label>
      <input type="name" id="name" placeholder="Name" required />

      <label for="Name">Adicione o seu email</label>
      <input type="password" id="password" placeholder="Senha" required />

      <label for="password">Adicione sua senha</label>
      <input type="password" id="password" placeholder="Senha" required />

      <label for="password"> Confirme sua senha</label>
      <input type="password" id="password" placeholder="Senha" required />

      <button class="cadastro-button" type="submit">Cadastrar</button>
    </form>
  </div>
</body>
</html>