<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lilian Sweets</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <nav class="nav-bar">
        <div class="div-nav-bar justify-content-between">
          <div class="d-flex flex-row">
              <div class="is-flex m-1">
                  <button id="menu-button" class="menu-button">
                      <img src="/public/images/icons/list.svg" alt="Ícone de lista">
                  </button>
              </div>

              <img class="img-logo" src="../public/images/logo_lilian.png" alt="Logo da Lilian Sweets">
              <p class="welcome-text">Bem-vinda <strong class="destaque">Lilian!</strong></p>
          </div>

          <div>
            <button class="btn btn-salvar mt-4 mr-4" onclick="logout()">Sair</button>
          </div>
        </div>
    </nav>

    <div class="side-bar">
        <a href="/index" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/house.svg" alt="Ícone de uma casa">
            Início
        </a>

        <a href="/produtos" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/cake.svg" alt="Ícone de um bolo">
            Produtos
        </a>

        <a href="/insumos" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/minecart.svg" alt="Ícone de um carrinho">
            Insumos
        </a>

        <a href="#" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/card-list.svg" alt="Ícone de uma lista">
            Cardápio
        </a>

        <a href="/vendas" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/cash-coin.svg" alt="Ícone de dinheiro com moeda">
            Vendas
        </a>

        <a href="/estoque" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/box-seam.svg" alt="Ícone de uma caixa de papelão">
            Estoque
        </a>

        <a href="/despesas" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/credit-card.svg" alt="Ícone de uma caixa de papelão">
            Despesas
        </a>

        <a href="/cadastro-usuario" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/person.svg" alt="Íconde de uma pessoa">
            Novo Usuário
        </a>
    </div>

    <main class="main-tabela">
        <div class="container-tabela is-flex container">
            <div class="titulo-tabela is-flex">
                <h2>Despesas</h2>

                <div class="div-img-cupcake is-flex">
                    <img class="img-tabela" src="../public/images/despesa.jpg" alt="Imagem de uma planta de moeda">
                </div>
            </div>

            <div class="container is-flex buttons-form">
                <div>
                    <button type="button" class="btn button-form" onclick="openForm('novo-estoque')">Novo</button>
                </div>

                <div>
                    <button type="button" class="btn button-form">Gerar relatório</button>
                </div>

                <div>
                    <button type="button" class="btn button-form">Filtro</button>
                </div>
            </div>

            <div class="tabela-produtos container" id="tabelaDespesas">
               <!-- <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="coluna-tabela">Valor</th>
                            <th scope="col" class="coluna-tabela">Forma pagamento</th>
                            <th scope="col" class="coluna-tabela">Data pagamento</th>
                            <th scope="col" class="coluna-tabela">Observação</th>
                        </tr>
                    </thead>
                    <tbody scope="row">
                        <tr>
                            <td class="linha-tabela">R$ 38,90</td>
                            <td class="linha-tabela">Pix</td>
                            <td class="linha-tabela">20/06/2025</td>
                            <td class="linha-tabela"></td>
                            <td>
                                <div class="is-flex is-gap-3">
                                    <a href="#" class="btn btn-info btn-table" onclick="openForm('editar-despesa')">Editar</a>
                                    <a href="#" class="btn btn-danger btn-table">Deletar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>
    </main>
</body>

<script src="/public/scripts/include.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("menu-button");
    const sidebar = document.querySelector(".side-bar");

    btn.addEventListener("click", () => {
      sidebar.classList.toggle("active");
    });
  });
</script>

</html>