<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lilian Sweets</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <nav class="nav-bar">
        <div class="div-nav-bar">
            <img class="img-logo" src="../public/images/logo_lilian.png" alt="Logo da Lilian Sweets">
            <p class="welcome-text">Bem-vinda <strong class="destaque">Lilian!</strong></p>
        </div>
    </nav>

    <div id="side-menu"></div>

    <main class="main-tabela">
        <div class="container-tabela is-flex container">
            <div class="titulo-tabela is-flex">
                <h2>Encomendas</h2>

                <div class="div-img-cupcake is-flex">
                    <img class="img-tabela" src="../public/images/bolo-com-velas.jpg" alt="Imagem de um cupcake roxo">
                </div>
            </div>

            <div class="container is-flex buttons-form">
                <div>
                    <button type="button" class="btn button-form" onclick="openForm('nova-encomenda')">Novo</button>
                </div>

                <div>
                    <button type="button" class="btn button-form">Gerar relatório</button>
                </div>
            </div>

            <div class="tabela-produtos container">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="coluna-tabela">Pessoa que encomendou</th>
                            <th scope="col" class="coluna-tabela">Nome do produto</th>
                            <th scope="col" class="coluna-tabela">Data de entrega</th>
                            <th scope="col" class="coluna-tabela">Valor</th>
                            <th scope="col" class="coluna-tabela">Forma de pagamento</th>
                            <th scope="col" class="coluna-tabela">Tipo de entrega</th>
                        </tr>
                    </thead>
                    <tbody scope="row">
                        <tr>
                            <td class="linha-tabela">Fernanda Batistelo</td>
                            <td class="linha-tabela">Bolo de fubá</td>
                            <td class="linha-tabela">08/06/2025/td>
                            <td class="linha-tabela">R$ 38,90</td>
                            <td class="linha-tabela">Pix</td>
                            <td class="linha-tabela"> Retirada</td>
                            <td>
                                <div class="is-flex is-gap-3">
                                    <a href="#" class="btn btn-info btn-table" onclick="openForm('editar-encomenda')">Editar</a>
                                    <a href="#" class="btn btn-danger btn-table">Deletar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

<script src="../public/scripts/include.js" defer></script>

</html>