<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Lilian Sweets</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body class="login-body">
  <div class="login-section">
    <div class="logo">
      <img src="../public/images/logo_lilian.png" alt="Logo Lilian Sweets" style="width:160px;">
    </div>
    <form class="form" id="loginForm">
      <label for="email" class="label-form-login">Email</label>
      <input type="email" id="email" placeholder="username@gmail.com" class="input-form-login" required />

      <label for="password" class="label-form-login">Senha</label>
      <input type="password" id="password" placeholder="Senha" class="input-form-login" required />

      <button class="login-button" type="submit">Entrar</button>
    </form>

    <div class="link-redirecionar">
      <a onclick="redirecionaCardapioSemanal()">
        Não possui login? Entre para visualizar o cardápio semanal sem precisar efetuar login!
      </a>
    </div>
  </div>
</body>
<script>
  function redirecionaCardapioSemanal() {
    window.location.href = '/cardapio-semanal';
  }

  document.getElementById('loginForm').addEventListener('submit', async (event) => {
    event.preventDefault();

    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    try {
      const response = await fetch('/login', {
        method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            useremail: email,
            password: password
          })
      });

      if (!response.ok) {
        throw new Error(`Erro na requisição: ${response.status}`);
      }

      const data = await response.json();
      localStorage.setItem('token', data.token);
      if (data.permissao === 'admin') {
          window.location.href = '/index';
        } else {
          alert('Usuário não encontrado. Senha/email digitados incorretamente ou você não possui login!');
        }

    } catch (error) {
      alert('Desculpe, ocorreu um erro ao realizar o login. Tente novamente mais tarde');
      console.log('Erro: ', error);
    }
  });

  window.onload = () => {
    const token = localStorage.getItem('token');
    if (token) {
      window.location.href = '/index';
    }
  }

</script>
</html>