<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu Lateral</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="side-bar">
        <a href="/" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/house.svg" alt="Ícone de uma casa">
            Início
        </a>

        <a href="/produtos" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/cake.svg" alt="Ícone de um bolo">
            Produtos
        </a>

        <a href="#" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/box2-heart.svg" alt="Ícone de uma caixa com um coração">
            Encomendas
        </a>

        <a href="#" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/minecart.svg" alt="Ícone de um carrinho">
            Insumos
        </a>

        <a href="#" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/card-list.svg" alt="Ícone de uma lista">
            Cardápio
        </a>

        <a href="#" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/cash-coin.svg" alt="Ícone de dinheiro com moeda">
            Vendas
        </a>

        <a href="#" class="side-bar-link">
            <img class="side-bar-icon" src="../public/images/icons/box-seam.svg" alt="Ícone de uma caixa de papelão">
            Estoque
        </a>
    </div>
</body>
</html>
