<div id="header"></div>
<div id="side-menu"></div>
<main class="main-produtos">
    <div class="produtos is-flex container">
        <div class="titulo-produtos is-flex">
            <h2>Produtos</h2>

            <div class="div-img-cupcake is-flex">
                <img class="img-cupcake" src="../public/images/cupcake.jpg" alt="Imagem de um cupcake roxo">
            </div>
        </div>

        <div class="container is-flex buttons-form">
            <div>
                <button type="button" class="btn button-form" onclick="openForm('novo-produto')">Novo</button>
            </div>

            <div>
                <button type="button" class="btn button-form">Gerar relatório</button>
            </div>
        </div>

        <div class="tabela-produtos container">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="coluna-tabela">Nome</th>
                        <th scope="col" class="coluna-tabela">Data validade</th>
                        <th scope="col" class="coluna-tabela">Descrição</th>
                        <th scope="col" class="coluna-tabela">Valor</th>
                        <th scope="col" class="coluna-tabela">Quantidade</th>
                    </tr>
                </thead>
                <tbody scope="row">
                    <tr>
                        <td class="linha-tabela">Bolo de morango</td>
                        <td class="linha-tabela">01/06/2025</td>
                        <td class="linha-tabela">Bolo de morango com chocolate branco</td>
                        <td class="linha-tabela">R$ 38,90</td>
                        <td class="linha-tabela">5</td>
                        <td>
                            <div class="is-flex is-gap-3">
                                <a href="#" class="btn btn-info btn-table">Editar</a>
                                <a href="#" class="btn btn-danger btn-table">Deletar</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="linha-tabela">NOME</td>
                        <td class="linha-tabela">DATA</td>
                        <td class="linha-tabela">DESCRICAO</td>
                        <td class="linha-tabela">VALOR</td>
                        <td class="linha-tabela">QUANTIDADE</td>

                        <td>
                            <div class="is-flex is-gap-3">
                                <a href="#" class="btn btn-info btn-table">Editar</a>
                                <a href="#" class="btn btn-danger btn-table">Deletar</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="linha-tabela">NOME</td>
                        <td class="linha-tabela">DATA</td>
                        <td class="linha-tabela">DESCRICAO</td>
                        <td class="linha-tabela">VALOR</td>
                        <td class="linha-tabela">QUANTIDADE</td>

                        <td>
                            <div class="is-flex is-gap-3">
                                <a href="#" class="btn btn-info btn-table">Editar</a>
                                <a href="#" class="btn btn-danger btn-table">Deletar</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<div id="footer"></div>

<script src="../public/scripts/include.js" defer></script>