:root {
  --roxo-escuro: #9b59b6;
  --roxo-claro: #bb8fce;
  --branco-padrao: #ffffff;
}

.cadastro-body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-image: url('../images/fundo_login.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cadastro-section {
  background-color: var(--roxo-escuro);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: var(--branco-padrao);
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

label {
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--branco-padrao);
}

.cadastro-button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background-color: var(--roxo-claro);
  color: var(--branco-padrao);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cadastro-button:hover {
  background-color: #d2b4de; 
}
