.dashboard {
  margin-left: 350px; /* Largura da sidebar fixa */
  padding: 150px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100vh;
  overflow-y: auto;
}

.dashboard h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #d63384; /* rosa principal */
}

.cards {
  flex: 1 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 400px; 
  margin-bottom: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h2 {
  font-size: 20px;
  color: #d63384;
  margin-bottom: 10px;
  
}

.card-grafico {
  flex: 1 1 48px; 
  max-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  font-size: 42px;
  color: #080104;
  font-weight: bold;
}

.table-card table {
  width: 100%;
  border-collapse: collapse;
}

.table-card th, .table-card td {
  border: 1px solid #ddd;
  padding: 29px;
  text-align: center;
  font-size: 20px;
  color: #333
}

.table-card th {
  background-color: #f9e0ef;
  color: #d63384;
}

.top-section {
  display: flex;
  gap: 10px;         /* Espaço pequeno entre os blocos */
  align-items: flex-start; /* Alinha pelo topo */
  width: 100%;
}

.graphic-section {
  display: flex;
  flex-wrap: nowrap;  
  gap: 10px; 
  justify-content: flex-start;       
  width: 100%; 
}

.graphic-section .card-grafico {
  flex: 1 1 0;   
  max-width: none;
  min-width: 0;  
}


