.side-bar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 350px;
  height: calc(100vh - 55px);
  background-color: var(--cinza-claro);
  border-right: 2px solid var(--cinza-medio);
  overflow-y: auto;
  padding-top: 5em;
  z-index: 1000;
}

.side-bar-link {
    padding: 0.5em 1.5em 0.5em 1.8em;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--preto-fraco);
    display: block;
}

.side-bar-link:hover {
    text-decoration: none;
    color: var(--roxo-claro);
}

.side-bar-icon {
    width: 30px;
    padding-right: 0.3em;
}

@media screen and (max-width: 840px) {
    .side-bar {
        padding-top: 35px;
        width: 145px;
    }

    .side-bar-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }

    .side-bar-icon {
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .side-bar {
        transform: translateX(-100%);
    }

    .side-bar.active {
        transform: translateX(0);
        width: 115px;
        max-height: 100%;
        padding-top: 25px;
    }

    .side-bar-link {
        font-size: 1rem;
    }

    .side-bar-icon {
        width: 18px;
    }
}