/* ESTILO GERAL DE TABELAS E BOTÕES */
.titulo-tabela {
    color: var(--preto-fraco);
    padding-bottom: 2em;
    align-items: baseline;
    justify-content: center;
}

.table tr:nth-child(odd) {
    background-color: var(--roxo-claro);
}

.buttons-form {
    padding: 1em 0 1.2em 0.8em;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.button-form {
    font-size: 1.25rem;
    border-radius: 8px;
    border-style: 2px solid var(--rosa-claro);
    background-color: var(--roxo-claro);
    color: var(--branco);
    padding: 0.6em 1.3em 0.6em 1.3em;
}

.button-form:hover {
    color: var(--branco);
    background-color: var(--roxo-escuro);
}

.coluna-tabela, .linha-tabela {
    font-size: 1.15rem;
}

.main-tabela {
  padding-top: 180px; /* empurra o conteúdo para baixo do header fixo */
  padding-left: 15em; /* alinha com a sidebar à esquerda */
  box-sizing: border-box;
}

.container-tabela {
    flex-direction: column;
    justify-content: center;
    padding: 1.5em 0 0 1.8em;
}

.div-img-cupcake {
    justify-content: flex-end;
}

.img-tabela {
    width: 100px;
}

@media screen and (max-width: 840px) {
   .main-tabela {
      max-width: 80%;
      margin-top: 150px;
   }
 }

 @media screen and (max-width: 768px) {
   .main-tabela {
      padding-left: 3rem;
   }
 }